/*External CSS for Resume Website*/

/*Resets Body Margin to 0px*/
body{
	margin: 0px;
}

/*Main Container*/
.maincontainer{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/boatpic1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

    /*Logo*/
    .logo{
    	width: 40%;
        max-width: 375px;
        min-width: 275px;
    }

    /*Navigation*/

        /*Nav List*/
        .navlist{
            display: flex;
            list-style-type: none;
            padding: 0px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }

        /*Nav List Items*/
        .navitem{
            list-style-type: none;
            padding: 10px;
            font-family: 'Dancing Script', cursive;
            font-size: 52px;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 10px;
            border-radius: 10px;
            transition: background-color 1s;
        }

        /*Nav List Item Background Color Transition on Hover*/
        .navitem:hover{
            background-color: rgba(220, 220, 255, 0.5);
        }

        /*Nav Links (a tags)*/
        .navlink{
            color: white;
            text-decoration: none;
        }

 /*PORTFOLIO PAGE START CSS*/

body{
	margin: 0px;
}

/*Main Container*/
.maincontainer2{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/BackgroundPortfolio.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

    /*Logo*/
    .logo2{
    	width: 40%;
        max-width: 375px;
        min-width: 275px;
		margin-top: 40px;
		max-height: 375px;
		min-height: 375px;
		height: 40%;

    }

.navlist2{
            display: flex;
            list-style-type: none;
            padding: 0px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }

        /*Nav List Items*/
        .navitem2{
            list-style-type: none;
            padding: 10px;
            font-family: 'Dancing Script', cursive;
            font-size: 52px;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 10px;
            border-radius: 10px;
            transition: background-color 1s;
        }

        /*Nav Links (a tags)*/
        .navlink2{
            color: black;
            text-decoration: none;
        }


/*GALLERY PORTFOLIO*/
#images-box {
    /* The total width of the image-box, mainly for centering */
    width: 1500px;
    margin: 0px auto;
    position: relative;
    top: 70px;
}

.image-lightbox img {
    /* Inherit the width and height from the parent element */
    width: inherit;
    height: inherit;
    z-index: 3000;
}

.holder {
    /* The width and height, you can change these */
    width: 480px;
    height: 350px;
    /* Float left, so everything aligns right */
    float: left;
    margin: 0 20px 0 0;
}

.image-lightbox {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: 10px;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 0;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}


}

.image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4000;
    background: rgba(0,0,0,0); /* Fixes an IE bug */
    left: 0;
}

.image-lightbox .close {
    position: absolute;
    width: 20px; height: 20px;
    right: 20px; top: 20px;
}

.image-lightbox .close a {
    height: auto; width: auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 5px;
    font-weight: bold;
    float: right;
}

.image-lightbox .close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);



/*ACCOMPLISHMENT PAGE START CSS*/

