/*External CSS for Resume Website*/

/*Resets Body Margin to 0px*/
body{
	margin: 0px;
}

/*Main Container*/
.maincontainer{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/boatpic1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

    /*Logo*/
    .logo{
    	width: 40%;
        max-width: 375px;
        min-width: 275px;
		padding: 20px;
    }

    /*Navigation*/

        /*Nav List*/
        .navlist{
            display: flex;
            list-style-type: none;
            padding: 0px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }

        /*Nav List Items*/
        .navitem{
            list-style-type: none;
            padding: 10px;
            font-family: 'Dancing Script', cursive;
            font-size: 52px;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 10px;
            border-radius: 10px;
            transition: background-color 1s;
        }

        /*Nav List Item Background Color Transition on Hover*/
        .navitem:hover{
            background-color: rgba(220, 220, 255, 0.5);
        }

        /*Nav Links (a tags)*/
        .navlink{
            color: white;
            text-decoration: none;
        }

 /*PORTFOLIO PAGE START CSS*/

body{
	margin: 0px;
}

/*Main Container*/
.maincontainer2{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/DSC_0049.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

    /*Logo*/
    .logo2{
    	width: 40%;
        max-width: 375px;
        min-width: 275px;
		margin-top: 40px;
		margin-bottom: 20px;
		max-height: 375px;
		min-height: 375px;
		height: 40%;

    }

.navlist2{
            display: flex;
            list-style-type: none;
            padding: 0px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }

        /*Nav List Items*/
        .navitem2{
            list-style-type: none;
            padding: 10px;
            font-family: 'Dancing Script', cursive;
            font-size: 52px;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 10px;
            border-radius: 10px;
            transition: background-color 1s;
        }

        /*Nav Links (a tags)*/
        .navlink2{
            color: black;
            text-decoration: none;
        }


/*GALLERY PORTFOLIO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Dancing Script', cursive;
  color: black;
  background: #e5e5e5;
}

.gallery {
  width: 1400px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);

}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 450px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 75px;
  font-weight: 300;
  text-align: center;
}


/*ACCOMPLISHMENT PAGE START CSS*/

.maincontainer3{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/DSC_0020.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

}

  /*Logo*/
    .logo3{
    	width: 40%;
        max-width: 375px;
        min-width: 275px;
		margin-top: 200px;
		margin-bottom: 20px;
		max-height: 375px;
		min-height: 375px;
		height: 40%;

    }

    /*Navigation*/

        /*Nav List*/
        .navlist3{
            display: flex;
            list-style-type: none;
            padding: 0px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }

        /*Nav List Items*/
        .navitem3{
            list-style-type: none;
            padding: 10px;
            font-family: 'Dancing Script', cursive;
            font-size: 52px;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 10px;
            border-radius: 10px;
            transition: background-color 1s;
        }

        /*Nav List Item Background Color Transition on Hover*/
        .navitem3:hover{
            background-color: rgba(255, 243, 219, 0.5);
        }

        /*Nav Links (a tags)*/
        .navlink3{
            color: white;
            text-decoration: none;
        }
