body{
	margin: 0px;
	background-image: url(../boatpic1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
}

#main_container{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

.image2 {
	width: auto;
	height: 500px;
	width: 500px;

}

.HomePage{
	font-size: 50px;
	color: black;
	font-family: 'Dancing Script', cursive;
	padding: 15px;
}

.PortfolioLink{
	font-size: 50px;
	font-family: sans-serif;
	color: black;
	font-family: 'Dancing Script', cursive;
	padding: 15px;

	}

.AccomplishmentsLink{
	font-size: 50px;
	color: black;
	font-family: 'Dancing Script', cursive;
	padding: 15px;

}




