body{
	margin: 0px;
	background-image: url(../boatpic1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
}
#main_container{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

.image2 {
	display: flex;
	align-items: center;
	height: 500px;
	width: auto;
}


.HomePage{
	font-size: 50px;
	color: black;
	font-family: 'Raleway', sans-serif;

	order: 1;
	justify-content: space-around;
	padding: 20px;

}

.PortfolioLink{
	z-index: 1;
	font-size: 50px;
	font-family: sans-serif;
	color: black;
	font-family: 'Raleway', sans-serif;
	padding: 20px;

	}

.AccomplishmentsLink{
	z-index: 1;
	font-size: 50px;
	color: black;
	font-family: 'Raleway', sans-serif;

	padding: 20px;

}





